:root {
    --body_color: #f3f3f3;
    --heading_color: #3b75cb;
    --paragraph_color: #073136;
    --header_footer_backgroundcolor: #2095D8;
    --principal_font: 'Roboto', sans-serif;
    --heading_font: 'Monserrat'
}

/** G L O B A L  **/

* {
    margin: 0;
    padding: 0;
    font-family: var(--principal_font);
    box-sizing: border-box;
}

body {
    background: var(--body_color);
}

.page {
    max-width: 1040px;
    margin: 0 auto;
}

p {
    color: var(--paragraph_color);
}


.header__nav {
    background-color: var(--header_footer_backgroundcolor);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo img{
    margin-left: 100px;
    width: 200px;
    height: 200px;
    
}
.header__bar{
    width: 300px;
    margin-right: 40px;
}
.header__bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.header__bar ul a {
    text-decoration: none;
    margin: 2px;
    letter-spacing: 2px;
    color: var(--body_color);
    transition-duration: .5s;
}

.header__image img {
    width: 1040px;
    height: auto;
}

/** LINKS HOVER **/

.header__bar ul a:hover{
    background-color: var(--body_color);
    color: var(--header_footer_backgroundcolor);
    padding: 2px;
}

/** HEADER BUTTON **/

.header__button {
    position: absolute;
    top: 390px;
    right: 890px;
}

.header__button button {
    height: 45px;
    width: 100px;
    font-size: 16px;
    color: #073136;
    border: none;
    cursor: pointer;
    transition-duration: .3s;
}

.header__button button:hover {
    background-color: #073136;
    color: var(--body_color);
    border-radius: 8px;
}
/** GENERAL SECTIONS **/

.main p {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.main h1 {
    color: var(--heading_color);
    font-family: var(--heading_font);
    font-size: 33px;
    line-height: 45px;
    font-size: 45px;
    margin: 20px;
    margin-top: 40px;
    text-align: center;
}

section {
    margin-top: 80px;
}

.main__section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

}

.main_section__image img {
    width: 500px;
    height: 350px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 30px #000;
}

.main__section3 {
    margin-bottom: 40px;
}

/** FOOTER  **/

.footer {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
}

.footer__course p{
    color: var(--body_color);
    font-size: 20px;
}

.footer__socialMedia img{
    height: 50px;
    margin: 10px;
    transition-duration: .4s;
}

.footer__socialMedia img:hover {
    box-shadow: 1px 1px 30px #000;
    height: 55px;
}


footer {
    background-color: var(--header_footer_backgroundcolor);
}

/** TESTIMONIAL PAGE ! ! ! ! **/
/** TESTIMONIAL PAGE ! ! ! ! **/
/** TESTIMONIAL PAGE ! ! ! ! **/

.section_testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.testimonial_text_h1 img {
    width: 75px;
    height: 75px;
}

.testimonial_text_h1 h1{
    font-size: 50px;
    justify-items: center;
    text-align: end;
}
.testimonial_text_h1  {
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--heading_color);
}

.testimonial_text_p {
    margin: 30px;
}
.testimonial_text_p p {
    font-size: 18px;
}

/* C A R D S */

.testimonials_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.testimonial_card {
    height: 300px;
    width: 300px;
}

.card_container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px #000;
}
.card_image {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--heading_color);
    border-radius: 5px;
}

.card_image img {
    width: 70px;
    height: 70px;
    background-color: #f3f3f3;
    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    
}

.text h6 {
    text-align: center;
    font-size: 20px;
}

.text p {
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
}

/**HERE FINISH TESTIMONIAL PAGE ! ! ! ! **/
/**HERE FINISH TESTIMONIAL PAGE ! ! ! ! **/
/**HERE FINISH TESTIMONIAL PAGE ! ! ! ! **/

/** CONTACT US PAGE **/
/** CONTACT US PAGE **/
/** CONTACT US PAGE **/

.contact_us {
    background-color: #3b75cb;
    height: 800px;
}

.container_header {
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header_contact_us {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_img img {
    width: 500px;
    height: 500px;
}

.header_contact_us h1,
.header_contact_us p,
.contact_form_input h3,
.contact_form_input form label,
.contact_form_input form input,
.contact_information h4,
.information_list ul li {
    color: #f3f3f3;
}

.conteiner_contact_us {
    height: 400px;
    width: 100%;
}

.container_form {
    position: relative;
    top: -200px;
    right: -150px;
    height: 320px;
    width: 800px;
    border: 1px solid;
    background-color: #CB913A;
    border-radius: 10px;
}

.contact_form {
    height: 320px;
    width: 100%;
    display: grid;
    grid-template-columns: 75% 30%;
    justify-items: center;
    align-content: center;
}

.contact_form_input {
    height: 320px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid;
}

.contact_form_input h3 {
    margin: 20px;
}

.contact_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    
}

.grid5 input {
    width: 300px;
    height: 50px;
}

.contact_information{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact_information ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}
.contact_information li {
    list-style: none;
    
}






