:root {
    --body_color: #F8EFED;
    --heading_color: #3b75cb;;
    --paragraph_color: #073136;
    --header_footer_backgroundcolor: #2095D8;
    --principal_font: 'Roboto', sans-serif;
    --heading_font: 'Monserrat'
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--principal_font);
}

.page {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    color: var(--heading_color);
    font-family: var(--heading_font);
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 1.2px;
}

p {
    color: var(--paragraph_color);
}
footer {
    background-color: var(--header_footer_backgroundcolor);
}

.header__nav {
    background-color: var(--header_footer_backgroundcolor);
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.header__logo img{
    margin-left: 100px;
    width: 200px;
    height: 200px;
    
}
.header__bar{
    width: 300px;
    margin-right: 40px;
}
.header__bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__bar ul a {
    text-decoration: none;
    letter-spacing: 2px;
    color: var(--body_color);
}

section img {
    width: 500px;
}

.footer {
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.footer__course p{
    color: var(--body_color);
    font-size: 20px;
}

.footer__socialMedia img{
    height: 50px;
}

