:root {
    --color1: #206cd9;
    --color2: #2095d8;
    --color3: #20c2d8;
    --color4: #c5efed;
    --color5: #f8efed;
    --Principal_font: font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}

.color1 {
    color: #fff;
    height: 30px;
    background-color: var(--color1);
}
.color2 {
    color: #fff;
    height: 30px;
    background-color: var(--color2);
}
.color3 {
    height: 30px;
    background-color: var(--color3);
}
.color4 {
    height: 30px;
    background-color: var(--color4);
}
.color5 {
    height: 30px;
    background-color: var(--color5);
}

